* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: snow;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(63, 71, 87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

#calculator {
    width: 330px;
    height: 400px;
    background-color: rgb(50, 49, 49);
}

#screen {
    width: 330px;
    height: 60px;
    background-color: rgb(50, 49, 49);
}

#formula-screen {
    width: 320px;
    height: 25px;
    margin: auto;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 2px;
    background-color: rgb(0, 0, 0);
}

#output-screen {
    width: 320px;
    height: 35px;
    margin: auto;
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(0, 0, 0);
}

#buttons {
    width: 320px;
    height: 335px;
    margin: auto;
    background-color: rgb(50, 49, 49);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px 3px;
    text-align: center
}

.cen-bor {
    background-color: rgb(60, 55, 64);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 1.1rem;
}

.opers {
    background-color: rgb(100, 100, 100);
}

.cen-bor:hover {
    font-size: 1.2rem;
    color: rgb(35, 35, 35);
    transform: scale(1.1);
    border: 2px solid linen;
}

#AC {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    background-color: rgb(125, 21, 21);
}

#div {
    grid-column-start: 3;
}

#mul {
    grid-column-start: 4;
}

#b0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equal {
    background-color: rgb(13, 13, 100);
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

#author {
    margin-top: 20px;
    text-align: center;
}

#author > p > span:hover {
    cursor: pointer;
    color: rgb(6, 30, 54);
}